body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

select.slt-country {
    border-radius: 4px;
}

button.send {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

h2.sub-tittle {
    text-align: center;
}

.result {
    text-align: left;
}

.result a {
    color: #007BFF;
    text-decoration: none;
}

.result a:hover {
    text-decoration: underline;
}